.NavBar {
    background-color: transparent;
    width: 100vw;
    height: 50px;

    display: grid;
    grid-template-columns: 35% auto;

    color: black;
}

.NavBar {
    font-weight: 800;
    font-size: 1.6rem;
    font-family: sans-serif;
}

.NavBar div {
    align-self: center;
    justify-self: center;
}

.NavBar .SubSites {

    font-weight: 900;
    font-size: 1rem;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;

}